body {
    text-align: center;
    background: linear-gradient(300deg, deepskyblue, #603ae5);
    animation: gradient-animation 12s ease infinite;
    min-height: 100vh;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#like {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3%;
}

.card {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 250px;
}

.card-title {
    font-weight: bold;
    padding: 3%;
}

.progress-bar {
    margin: 2%;
    height: 10px;
    background-color: rgb(255, 241, 46);
    border-radius: 5px;
    margin-bottom: 5%;
}

.progress-bar-filled {
    height: 100%;
    border-radius: 5px;
    background: rgb(226, 12, 137);

    /* border-radius: 5px; */
}

.closeCard {
    border: none;
    background-color: transparent;
    float: right;
    padding: auto;
    border-radius: 0.5rem;
}

button {
    transition: background-color 2s;
    border-radius: 10px;
    background-color: rgb(169, 139, 250);
}

button:hover {
    background-color: rgb(255, 255, 255);
}
